@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-vault-bg min-h-screen;
}

/* Chrome, Edge, VS Code WebView */
::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #555;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #777;
}